<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{title}">JHipster creation</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p>
            Dear
        </p>
        <p>
            Your JHipster account has been created, please click on the URL below to access it:
        </p>
        <p>
            <a th:href="@{http://blog.csdn.net/u012706811}">绝对路径</a>
          <a th:href="@{|${link}|}"
             th:text="@{|${linkTest}|}">Login link</a>
        </p>
    </body>
</html>
